import React, { Component } from 'react';
import PropTypes from 'prop-types';

import './{{ properCase name }}.css';

class {{ properCase name }} extends Component {
  constructor(props, context) {
    super(props, context);
  }

  componentWillMount() {

  }

  componentWillReceiveProps(nextProps) {

  }

  render() {
    return (
      <div className="{{ properCase name }}">
      </div>
    );
  }
}

{{ properCase name }}.propTypes = {

};

export default {{ properCase name }};
